
/.minecraft/.physics_mod_cache
/.minecraft/_down
/.minecraft/logs
/.minecraft/saves
/.minecraft/XaeroWorldMap
/natives
/.minecraft/cloth_local
/.minecraft/crash-reports
.minecraft/hotbar.nbt
/.minecraft/XaeroWaypoints
/.minecraft/XaeroWaypoints_BACKUP032021
