
/.minecraft/.physics_mod_cache
/.minecraft/_down
/.minecraft/logs
/.minecraft/saves
/.minecraft/XaeroWorldMap
/natives
/.minecraft/cloth_local
/.minecraft/crash-reports
.minecraft/hotbar.nbt
/.minecraft/XaeroWaypoints
/.minecraft/XaeroWaypoints_BACKUP032021
/.minecraft/options.txt
/.minecraft/shaderpacks
.minecraft/patchouli_data.json
/.minecraft/config/alexsmobs
/.minecraft/config/jei
/.minecraft/config/jade
/.minecraft/config/NoChatReports
/.minecraft/config/plasmovoice
/.minecraft/config/sound_physics_remastered
/.minecraft/config/zombieawareness
/.minecraft/screenshots
